<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado del Pago - Webpay Plus</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="bg-gray-900 text-white min-h-screen flex items-center justify-center">
    <div class="max-w-lg w-full bg-gray-800 rounded-lg shadow-lg p-6">
        <h1 class="text-2xl font-bold mb-4 text-center">Resultado del Pago</h1>

        <% if (commitResponse.status === 'AUTHORIZED') { %>
            <p class="mb-4 text-center text-green-400 text-lg font-semibold">
                ¡Muchas gracias por comprar con nosotros!
            </p>
        <% } else { %>
            <p class="mb-4 text-center text-red-400 text-lg font-semibold">
                Lo sentimos, hubo un problema con tu transacción.
            </p>
        <% } %>

        <!-- Mostrar detalles de la transacción -->
        <div class="mb-4">
            <h2 class="font-semibold text-lg mb-2">Detalle de la Transacción:</h2>
            <ul class="list-disc list-inside">
                <li><span class="font-semibold">Estado:</span> 
                    <% if (commitResponse.status === 'AUTHORIZED') { %>
                        Aprobado
                    <% } else { %>
                        Rechazado
                    <% } %>
                </li>
                <li><span class="font-semibold">Estado:</span> <%= commitResponse.status %></li>
                <li><span class="font-semibold">Código de autorización:</span> <%= commitResponse.authorization_code || 'N/A' %></li>
                <li><span class="font-semibold">Tarjeta:</span> <%= commitResponse.card_detail?.card_number || 'N/A' %></li>
                <li><span class="font-semibold">N° Orden:</span> <%= commitResponse.buy_order %></li>
                <li><span class="font-semibold">Fecha de la transacción:</span> <%= new Date(commitResponse.transaction_date).toLocaleString('es-CL', { dateStyle: 'medium', timeStyle: 'short' }) %></li>
            </ul>
        </div>

        <!-- Botón para regresar a la página principal -->
        <div class="text-center mt-4">
            <a href="/" class="px-6 py-2 bg-blue-600 hover:bg-blue-700 text-white font-bold rounded-md inline-block">
                Volver a la Página Principal
            </a>
        </div>
    </div>
</body>
</html>